link(rel='stylesheet', href='/stylesheets/mobile_menu.css')
div(class="menu-wrap")
	input(type="checkbox" class="toggler")
	div(class="hamburger")
		div  
	div(class="menu")
		div
			div
				ul
					li
						a(href="#") Home
					li
						a(href="#") About
					li
						a(href="#") Services
					li
						a(href="#") Contact
				