extends layout

block content
	include ./inc/mobile_menu.pug
	div(class="index-page")
		h1= title
		p Welcome to #{title}
		p #{title} ti aiuta ad automatizzare le tue procedure!
		img(src='/images/schlansky.jpeg',style='width: 250px;')
		div(style='margin-top: 50px;') 
			div 
				a(href='/forms') Forms
			div 
				a(href='/users/login') Login
			div 
				a(href='/readers/pdf') Pdf Viewer