extends layout
block content
	div(class="container")
		h1(class="brand")
			span Form 
			Invia Mail
		div(class="wrapper animated bounceInLeft")
			div(class="company-info")
				h3 Jordan
				ul
					li
						i(class="fa fa-road")
						span 44 Something st
					li  
						i(class="fa fa-phone")
						span (555) 555-5555
					li  
						i(class="fa fa-envelope")
						span test@acme.test
			div(class="contact")
				h3 Mandami un messaggio
				form(action="/forms/send/"+form, method="POST")
					p
						label Nome
						input(type="text",name="name")
					p
						label Azienda
						input(type="text",name="company")
					p
						label Email
						input(type="email",name="email")
					p
						label Telefono
						input(type="text",name="phone")
					p(class="full")
						label Messaggio
						textarea(name="message",rows="5")
					p(class="full")
						button(type="submit") Submit